{{> header}}
<div class="container-fluid">

  <div id="editor" class="editor">
    <div class="editor-canvas-container"></div>

    <label class="editor-uploader" title="Upload picture">
      <span class="editor-uploader__inner">
        <i class="fa fa-picture-o"></i>
        <i class="fa fa-plus"></i>
      </span>
      <input type="file" accept="image/*">
    </label>

    <div class="editor-presets">
      <div class="editor-presets__track">
        {{#each presets}}
        <button class="editor-presets__item" data-preset="{{ this }}">{{ this }}</button>
        {{/each}}
      </div>
    </div>
  </div>

</div>
