<div class="welcome-screen">
  <h1 class="welcome-screen__logotype logotype"><div class="sr-only">Instaprjct</div></h1>

  <div class="welcome-screen__footer">
    <a href="/login" class="btn btn-default">Login</a>
    <span>or</span>
    <a href="/signup" class="btn btn-primary">Signup</a>
  </div>
</div>
