<div class="container-fluid">
  <div class="jumbotron">
    <h1>Instaprjct</h1>
    <h2>Welcome</h2>
  </div>

  <div class="f f-align-3-2 f-gap-2">
    <a href="/login" class="btn btn-default">Login</a>
    <span>or</span>
    <a href="/signup" class="btn btn-primary">Signup</a>
  </div>
</div>
