<div class="container-fluid">
  {{> header}}

  <div class="container">
    {{#with user}}
    <div class="profile">
      <div class="profile__left">

        <form class="profile-picture" id="profile-picture">
          <div class="profile-picture__picture" {{#if photoURL}}style="background-image: url('{{ photoURL }}')"{{/if}}>
            <label class="profile-picture__trigger" title="Change picture">
              <span>Choose a new picture</span>
              <input type="file" name="picture" accept="image/*">
            </label>
          </div>

          <div class="profile-picture__error alert alert-danger"></div>

          <div class="profile-picture__actions f f-gap-2 f-align-1-2">
            <button class="btn btn-success btn-sm btn-block" data-action="save">
              <i class="fa fa-upload"></i> Save
            </button>

            <button class="btn btn-danger btn-sm btn-block u-my-0" data-action="cancel">
              <i class="fa fa-ban"></i> Cancel
            </button>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active"></div>
          </div>
        </form>

      </div>

      <div class="profile__body">

        <div class="profile__errors alert alert-danger" hidden></div>

        <div class="panel panel-default">
          <header class="panel-heading">
            <h3 class="panel-title">Common info</h3>
          </header>
          <div class="panel-body">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" class="form-control" value="{{ displayName }}">
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" class="form-control" value="{{ email }}" readonly>
            </div>

          </div>

          <div class="panel-footer">

            <div class="profile__actions">
              <button class="btn btn-default btn-mw-sm" data-profile-action="edit">
                <i class="fa fa-pencil"></i>
                <span>Edit</span>
              </button>
            </div>

            <div class="profile__actions profile__actions--edit">
              <div class="f f-gap-3 f-align-1-2">
                <button class="btn btn-primary btn-mw-sm" data-profile-action="save">
                  <i class="fa fa-trash"></i>
                  <span>Save</span>
                </button>

                <button class="btn btn-default btn-mw-sm" data-profile-action="cancel">
                  <i class="fa fa-trash"></i>
                  <span>Cancel</span>
                </button>

                <i class="fa fa-spinner fa-lg fa-spin"></i>
              </div>

              <button class="btn btn-danger btn-mw-sm" data-profile-action="delete">
                <i class="fa fa-trash"></i>
                <span>Delete account</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    {{/with}}
  </div>

</div>
