.profile
  $this = selector()
  $pic-size = 240px

  f-align(1, 1)

  &__left
    text-align center
    flex 0 1 auto
    margin-right 20px

  &__body
    flex 1 0 auto

  &__pic
    position relative
    width $pic-size
    height $pic-size
    border-radius 50%
    border 2px solid #ccc
    margin-bottom 20px
    background-size cover
    overflow hidden

    input[type="file"]
      display none

  &__pic-uploader
    display none
    position absolute
    top 0
    left 0
    margin 0
    width 100%
    height 100%
    cursor pointer
    border-radius 50%

  &__name
    font-size 24px
    font-weight 500
    margin 24px 0 0

  &__social
    list-style none
    margin 12px 0 0
    padding 0
    display flex
    justify-content center
    flex-wrap wrap

    &:not(:last-child)
      margin-bottom 24px

  &__actions

    &--edit
      f-align(13, 2)
      display none

  &__uploader
    f-align(2, 2)
    position relative
    width 100%
    height 100%
    margin 0
    cursor pointer

    input
      position absolute
      opacity 0

  .fa-spinner
    display none

  &--show
    display block
    max-width 460px
    margin auto
    text-align center

    {$this}__pic
      margin 0 auto 24px
      box-shadow 0 0 20px 0 alpha(black, 0.2)


  // edit mode
  &.is-edit

    {$this}__pic-uploader
      display block

    {$this}__actions
      display none

      &--edit
        display flex

  // loading state
  &.is-loading

    .fa-spinner
      display block
